.stage-cube-container {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cube-spinner {
  animation: spinner;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.5);
    justify-content: center;
    font-size: 100px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px 0px lightcyan;
  }

  .face-1 {
    transform: translateZ(100px);
  }
  .face-2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f0db4f;
  }
  .face-3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #61dbfb;
  }
  .face-4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  }
  .face-5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #e34c26;
  }
  .face-6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #264def;
  }
}

.resume-button {
  color: #07c5ff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 7px;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #07c5ff;
  white-space: nowrap;
  position: absolute;
  bottom: 8.5%;
  right: 20.75%;
  min-width: 50px;

  &:hover {
    background-color: #07c5ff;
    color: #333;
    animation: fadeIn 0.8s;
    animation-fill-mode: forwards;
  }
}

.work-link {
  font-family: sans-serif;
  padding-right: 7px;
  text-decoration: none;
  color: #07c5ff;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@keyframes spinner {
  from,
  to {
    transform: rotateX(0deg) rotateX(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

@media screen and (max-width: 1200px) {
  .stage-cube-container {
    position: initial;
    width: 100%;
    max-height: 10px;
    overflow: visible;
  }

  .resume-button {
    float: none;
    display: block;
    margin-top: 10px;
    margin-bottom: 115%;
    margin-right: 13%;
  }
}
