.logo-container {
  z-index: 0;
  width: 400px;
  height: 60px;
  position: relative;
  top: 5%;
  right: -25%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 1;

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 1;
    z-index: 1;
    animation: heartBeat 4s 4s;
  }
}

.logo-container img {
  transition: all 1s;
}

.logo-container:hover img {
  transform: rotate(360deg);
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1::before,
  .home-page h1::after {
    display: none;
  }

  .home-page {
    .text-zone {
      position: initial;
      width: 100%;
      transform: none;
      padding: 10px;
      box-sizing: border-box;
    }

    .contact-me-button {
      float: none;
      display: block;
      margin: 20px auto 0 auto;
      width: 125px;
    }

    .logo-container {
      position: relative;
      width: 150px;
      height: auto;
      top: 50px;
      right: 0;
      box-sizing: border-box;
      margin: auto;
      left: 0;

      svg {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
      }
    }
  }
}
