.card-container {
  display: inline-block;
  left: 15%;
  margin-top: 8%;
  position: relative;
}

.cards {
  border: 1px solid #07c5ff;
  border-radius: 7px;
  box-shadow: 0 0 5px yellow;
  margin: 20px;
  color: #07c5ff;
  text-align: center;
  width: 250px;
  font-family: sans-serif;
}

.card-image-container img {
  width: 100%;
}

.card-title,
.card-description,
.card-links {
  text-align: center;
  margin: 0;
  padding: 10px;
}

.card-title {
  font-weight: bold;
  font-size: 22px;
}

.card-description {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-bottom: 18px;
}

.card-links a {
  color: #07c5ff;
  font-size: 20px;
  border: 1px solid #07c5ff;
  border-radius: 7px;
  padding: 12px;
  align-items: center;
  text-decoration: none;
  letter-spacing: 3px;

  &:hover {
    background-color: #07c5ff;
    color: #333;
  }
}

.card-links {
  margin-bottom: 25px;
}
